#menu-container {
    width: 100vw; 
    height: 100vh; 
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

#e {
    padding: 10px 20px;
    font-size: 16px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 150ms ease;
}

#e:hover {
    transform: scale(2);
}
